body {
  background: rgb(225,149,0);
  background: linear-gradient(180deg, rgba(225,149,0,1) 0%, rgba(231,0,0,1) 100%);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Noto Sans Thai", sans-serif;
  
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: "Noto Sans Thai", sans-serif;
  
}

